---
title: Stockist Phoenix API 

language_tabs:
  - xml

toc_footers:
  - <a href='mailto:soporte@hotetec.com'>soporte@hotetec.com</a>
  - <a href='https://hotel.hotetec.com'>Acceso Extranet</a>
  - <a href='http://www.hotetec.com'>www.hotetec.com</a>

includes:
  - introduction.md.erb
  - version-control
  - conectivity  
  - APISpecs
  - PhoenixHotelConfiguration
  - PhoenixRoomRateUpdate
  - PhoenixBookingNotification
  - Tipos
  - Ejemplos
  - FAQ

search: true
---
